.General{
    justify-content: center;
    background-image: url('../statics/ZJtFfH.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    display: flex;
    min-height: 48rem;
    background-position: bottom;
}

.form{
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 3rem;
    position: relative;
   
}
.title{
    width: 45rem;
    text-shadow: 5px 5px 5px rgba(0, 192, 16, 0.746);
    
}

.transparentForm{
    display: flex;
    position: relative;
    width: 40rem;
    height: 35rem;
    top: 5rem;
    border-radius: 3rem;
    border: solid;
    background-color: rgba(80, 95, 235, 0.459);
    z-index: 0;
}

.buttonhoome{
    text-decoration: none;
    position: relative;
    left: 6rem;
    top: 35.5rem;
    width: 9rem;
    height: 4rem;
    padding: 8px;
    border-radius: 20px;
    border-style:none;
    font-size: 15px;
    color:rgb(0, 0, 0);
    font-weight: 700;
    background-color: rgba(236, 33, 60, 0.561);
    box-shadow: 5px 5px 5px black;
}
.buttonhoome:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(46, 231, 0);
    box-shadow: 5px 5px 5px rgb(46, 231, 0);
    transition: 0.7s; 
}
.buttonDone{
    position: relative;
    left: 12rem;
    top: 11rem;
    width: 100px;
    padding: 15px;
    border-radius: 20px;
    border-style:none;
    font-size: 15px;
    color:rgb(0, 0, 0);
    font-weight: 700;
    background-color: rgba(233, 60, 233, 0.514);
    box-shadow: 5px 5px 5px black;
    
}
.buttonDone:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(46, 231, 0);
    box-shadow: 5px 5px 5px rgb(46, 231, 0);
    transition: 0.7s; 
}
.nameDiv{
    position: relative;
    
    right: 15.5rem;
    top: 4rem;
}
.nameInput:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(46, 231, 0);
}
.nameInput{
    width: 14.8rem;
    text-align-last:center; 
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 5px black; 
}

.descriptioDiv{
    
    position: relative;
    background-color: rgba(165, 42, 42, 0.479);
    right: 15.5rem;
    top: 4.5rem;
    width: 12rem;
    height: 30rem;
}
.descriptionInput{
    position: absolute;
    width: 15rem;
    height: 10rem;
    text-align-last:center;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 5px black;
}
.descriptionInput:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(46, 231, 0);
}
.dateDiv{
    position: relative;
   
    right: 15.5rem;
    top: 11rem;
}
.dateInput{
    width: 15rem;
    text-align-last:center;

    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 5px black;
}
.dateInput:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(46, 231, 0);
}
.ratinDiv{
    position: relative;
    
    right: 15.5rem;
    top: 10.7rem;
}
.ratinInput{
    width: 14.8rem;
    text-align-last:center; 
    
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 5px black;
}
.ratinInput:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(46, 231, 0);
}
.imageDiv{
    position: relative;
    
    right: 15.5rem;
    top: 10.5rem;
}
.imageInput{
    width: 14.8rem;
    text-align-last:center; 

    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 5px black;
}
.imageInput:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(46, 231, 0);
}

.selectGenres{
    position: relative;
    background-color: rgb(0, 0, 0);
    left: 12.5rem;
    bottom:7rem;
    width: 9rem;

    font-weight: bold;
    text-align-last: center;
    z-index: 2;
    box-shadow: 1px 1px 1px rgb(46, 231, 0);
    color: white;
} 
.selectGenres:hover {
    box-shadow: 3px 3px 3px rgb(46, 231, 0);
    transition: 0.7s; 
    }
.selectPlatforms{
    position: relative;
    background-color: rgb(0, 0, 0);
    left: 2rem;
    bottom:9.5rem;
    width: 9rem;

    font-weight: bold;
    text-align-last: center;
    z-index: 2;
    box-shadow: 1px 1px 1px rgb(46, 231, 0);
    color: white;
}
.selectPlatforms:hover{
    box-shadow: 3px 3px 3px rgb(46, 231, 0);
    transition: 0.7s; 
    }
.labelPlatforms{
    position: relative;
    left: 6rem;
    bottom:10.5rem;
    color:white;
    font-weight: bold;
    z-index: 2;
}
.labelGenres{
    position: relative;
    left: 16.5rem;
    bottom:8rem;
    color:white;
    font-weight: bold;
    z-index: 2;
}
.divRenderPlatforms{
    position: relative;
    right: 11rem;
    top: 12rem; 
    color: white;
    width: 25rem;
    font-weight: 600;
    font-size: 0.6rem;
    z-index: 2;
    padding: 0.2rem;
}
.divRenderGenres{
    justify-content: right;
    position: absolute;
    left: 32rem;
    width: 10rem;
    top:12rem; 
    color: white;
    font-weight: 600;
    font-size: 0.8rem;
    z-index: 2;
    
}
.buttonXplatforms{
    position: relative;
    right: 2px;
    height: 16px;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    font-size: 13px;
    color: rgba(255,0,60,1); 
    background-color: thistle;
    text-align-last: auto;
    z-index: 5;
}
.buttonXplatforms :hover{
transform: scale(0.9);
background-color: red;
}

.buttonXgenres{
    position: relative;
    right: 2px;
    height: 16px;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    font-size: 13px;
    color: rgba(255,0,60,1); 
    background-color: thistle;
    text-align-last: auto;
    z-index: 2;
}