.container {
  height: 100vh;
  
}
.generalDiv {
  width: 100%;
}
.titleDiv {
  position: relative;
  top: 20px;
  width: 500px;
  left: 28.2rem;
  background: rgba(0, 0, 0, 0.466);
  border-radius: 10px;
  box-shadow: 2px 2px 5px (11, 146, 18b);
  z-index: 2;
  box-shadow: 0.4rem 0.4rem 0.4rem rgb(0, 129, 0);;
}

.title {
  position: relative;
  color: rgb(0, 129, 0);
  font-size: 24px;
  left: 8.8rem;
  top: 0rem;
  z-index: 999;
}

.genresDiv {
  display: flex;
  flex-direction: row;
  position: relative;
  color: rgb(255, 255, 255);
  width: 450px;
  top: -15px;
  left: 200px;
  font-size: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 3px rgb(11, 146, 6);
}
.genresWords {
  margin: 10px;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.platformsDiv {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 10px;
  width: 450px;
  top: -55px;
  left: 750px;
  box-shadow: 2px 2px 3px rgb(11, 146, 6);
}
.platformsWords {
  margin: 10px;
}

.descriptionDiv {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  top: -30px;
  left: 200px;
  width: 1000px;
  height: 100%;
  font-size: 16px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  box-shadow: 2px 2px 3px rgb(11, 146, 6);
}

.descriptionWords {
  padding: 20px 20px;
}

.releasedDiv {
  position: relative;
  top: -10px;
  left: 200px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 3px rgb(11, 146, 6);
}

.ratingDiv {
  position: relative;
  top: -40px;
  left: 598px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 3px rgb(11, 146, 6);
}



.backgroundBlur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%vh;
  opacity: 60%;
  z-index: -1;
  background-color: black;

}

.onTopImg {
  position: relative;
   object-fit: cover;
    object-position: center;
  right: 0px;
  top: -25px;
  width: 500px;
  height: 500px;
  border-radius: 9999px;
  box-shadow: 2px 2px 3px rgb(11, 146, 6);
  z-index: 1;
  left: 450px;
}

.GoBackButton {
  position: relative;
  border-style: none;
  background: rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(11, 148, 29);
  font-size: 15px;
  font-weight: 600;
  height: 30px;
  width: 150px;
  box-shadow: 2px 2px 3px rgb(11, 146, 6);
  top: -120px;
}

.GoBackButton:hover {
  background: rgb(11, 146, 6);
  color: rgb(0, 0, 0);
  box-shadow: white;
}

.goBackDiv {
  position: relative;
  top: 50px;
  left: 1045px;
  width: 160px;
}

.loadersGeneral {
  background:black;
  width: 100%;
  min-height: 35rem;
  height: 100vmax;
  z-index: -2;
}
.loadergif {
  position: relative;
  background-image: url('../statics/conectando.gif');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  left: 30rem;
  top: 10rem
}
.loadergif img{
  z-index: 2;
  height: 30rem;
  width: 30rem;
}
.divBotDel{
  position: relative;
  left: 42rem;
  bottom: 21rem;
  z-index: 9999;
  
}

.botondelete{
color: black;
font-size: 2.5rem;
width: 3.2rem;
height: 3.2rem;
border-radius: 150px;
background: rgb(255, 0, 0);
box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.botondelete:hover{
transform: scale(1.1);
}
