
.parent {
    display: -moz-grid-line;
    grid-template-columns: repeat(2, 6fr);
    grid-template-rows: repeat(2, 6fr);
    align-content: space-between;
    align-items: center;
    margin-left: 7rem ;
    margin-right: 2.5rem;
   
   
}
.filtersCss {
  
    position: relative;
    display: flex;
    justify-content: center;
}

.Home {
    
    background: url('../statics/streat.gif') no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   position: relative;
    height: 100%vh;
    width: 100%vh;
    min-height: 44.5rem;
    
    
    
    
}

.nav {
    background: rgba(39, 39, 39, 0.438);
    margin-bottom: 10px;
    height: 110px;
    border-color: yellowgreen;
    border: solid;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.609);
}

.alphabeticalOrder {
position: relative;
top: 80px;
margin-right: 4px;
right: 5px;
}

.OrderByRating {
    position: relative;
    top: 80px;
    margin-right: 4px;
    right: 5px;
}

.filterByGenres {
    position: relative;
    top: 80px;
    margin-right: 4px;
    right: 5px;
}

.filterByOrigin {
    position: relative;
    top: 80px;
    right: 5px;
}
.labels {
    display: flex;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 20px;
    -webkit-text-stroke: 0.2px rgb(255, 255, 255); 
    
}

.selects {
    border-radius: 5px;
    border-color: rgb(30, 236, 167);
    width: 180px;
    background-color: rgba(68, 200, 56, 0.678);
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-left: 5px;
    
}

.selects:hover{
    box-shadow: 3px 3px 3px rgb(9, 255, 0);
    cursor: pointer;
}

.LoaderGif {
    position: absolute;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 100vmax;
    width: 97%;
    height: 100vh;
}

.imagloadtrannohay{
    width: 33rem;
    height: 20rem;
}



.LoaderGif {
    position: relative;
    top: 7rem;
    left: 30rem;
}
.createVideogame {
    position: absolute;
    left: 77rem;
    top: 25px;
    word-spacing: 5px;
}
.createVideogame:hover{
transform: scale(1.1);
transition: 0.3s;
}

.createVideogame a {
    font-family: monospace;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 5px;
    background-color: rgba(68, 200, 56, 0.678);
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(9, 255, 0, 0.76);
    text-decoration: none;
}


.createVideogame:hover a {
    transform: scale(1.1);
    box-shadow: 3px 3px 3px 2px rgba(9, 255, 0);
    transition: 0.3s;
}



.noResultsDiv {
    position: relative;
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
width: auto;
height: 100vh;
    color: azure;
}

.noResultsDiv h3 {
    position: relative;
    left: 370px;
    top: 100px;
}

.sadCatGif {
    position: relative;
    left: 360px;
    top: 100px;
}


.divReset{
position: relative;
width: 100px;
top: 10px;
left: 120px;
}

.buttonReset:hover{
transform: scale(1.1);
box-shadow: 3px 3px 3px 2px rgba(9, 255, 0);
transition: 0.3s;

}
    

.buttonReset {
    width: 100px;
    height: 35px;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 3px 3px 3px rgba(9, 255, 0, 0.76);
    background-color: rgba(68, 200, 56, 0.678); 
    border-radius: 5px;
}

.favoritos{
    
    
    top: 3rem;
    position: relative;
    
    background: transparent;
    padding-bottom: 5rem;
}
