.home {
    background: rgb(22, 61, 37);
    position: relative;
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    
}
.matrix {
    width: 100%;
    height: 100%;
}

.divma {
    
    height: calc(100vh - 3rem - 0rem);
}

.cajaFiltros {
    display: flex;
    padding: 2rem;
    justify-content: space-around;
}
.cajaFiltros  select {
margin-left: 5px;
}

.alfabeticos{
    display: flex;
    flex-direction: column;
}

.ordenporrating{
    display: flex;
    flex-direction: column;
}
.filtroGeneros {
    display: flex;
    flex-direction: column;
}

