.landing {
    background-image: url('../statics/9vOZ.gif');
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .ButtonStart {
    position: absolute;
    top: 500px;
    left: 630px;
    width: 300px;
    letter-spacing: 2px;
    font-size: 48px;
    font-family: monospace;
    font-weight: 700;
    text-decoration-line: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 235, 235);
    border-color: green;
    transition: 0.3s;
    border-radius: 8px;
    
    animation: animate 5s linear 0s infinite;
    animation: name duration timing-function delay iteration-count direction fill-mode;
  }


  
  .conectStart{
    z-index: 999;
    background-image: url('../statics/conectando.gif');

  }


  .ButtonStart:hover {
    background-color: rgb(11, 129, 0);
    box-shadow: 0 0 3px rgb(11, 233, 3), 0 0 6px rgb(11, 233, 3),
      0 0 15px rgb(11, 233, 3), 0 0 30px rgb(11, 233, 3);
    cursor: pointer;
  }
  