@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

$theme-font: 'Muli', sans-serif;


$color-primario: rgb(46, 231, 0);
$color-sombraPrimario: rgba(68, 200, 56, 0.678);

$color-secundario: rgba(233, 60, 233, 0.808);
$color-sombraSecundario: rgb(0,0,0);

